* {
    margin:0;
    padding: 0;
}

body {
    background-image: url('../img/ian-keefe.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -100;

}

header {
    height: 500px;
}

section {
    height: 500px;
}